@tailwind base;
@tailwind components;
@tailwind utilities;

.sans-font {
  font-family: "ui-sans-serif", "system-ui";
}

.serif-font {
  font-family: "ui-serif", "Georgia";
}

.mono-font {
  font-family: "ui-monospace", "Courier New" !important;
}
